<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
</head>
<body>

<h2>Users</h2>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Country</th>
        <th>Actions</th>
    </tr>
    <tr th:each="user : ${usersList}">
        <td th:text="${user.id}">1</td>
        <td th:text="${user.name}">John Doe</td>
        <td th:text="${user.age}">30</td>
        <td th:text="${user.country}">Country</td>
        <td>
            <table>
                <tr>
                    <td>
                        <form th:action="@{/edit/{id}(id=${user.id})}" method="get">
                            <button type="submit">edit</button>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/delete/{id}(id=${user.id})}" method="post">
                            <input type="hidden" name="_method" value="delete">
                            <button type="submit" onclick="return confirm('Are you sure?')">delete</button>
                        </form>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<h3>Add</h3>
<a th:href="@{/add}">Add new user</a>
</body>
</html>
